.slot-icon {
  width: 20px;
  height: 20px;
  padding: 2px;
  display: block;
}

.slot-container {
  width: 24px;
  height: 24px;
  background-color:#dddddd;
  border: 1px solid #000000;
  padding: 0px;
  float: left;
  overlfow: hidden;
}

.slot-wheel {
}

#app-container:hover .kd-button.icononly img {
    opacity: 1;
}

.spotlight {
  opacity: 1;
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .5s;
  -moz-transition-property: opacity;
  -moz-transition-duration: .5s;
  -o-transition-property: opacity;
  -o-transition-duration: .5s;
  transition-property: opacity;
  transition-duration: .5s;
}

.kd-button.icononly img {
  width:50px;
  height:50px;
  -webkit-transition-property: height, width;
  -webkit-transition-duration: .15s;
  -moz-transition-property: height, width;
  -moz-transition-duration: .15s;
  -o-transition-property: height, width;
  -o-transition-duration: .15s;
  transition-property: height, width;
  transition-duration: .15s;
}
.kd-button.icononly.selected img, .kd-button.icononly.focus img {
  width:75px;
  height:75px;
  -webkit-transition-property: height, width;
  -webkit-transition-duration: .15s;
  -moz-transition-property: height, width;
  -moz-transition-duration: .15s;
  -o-transition-property: height, width;
  -o-transition-duration: .15s;
  transition-property: height, width;
  transition-duration: .15s;
}
.kd-button.icononly:hover img {
  width:75px;
  height:75px;
  -webkit-transition-property: height, width;
  -webkit-transition-duration: .15s;
  -moz-transition-property: height, width;
  -moz-transition-duration: .15s;
  -o-transition-property: height, width;
  -o-transition-duration: .15s;
  transition-property: height, width;
  transition-duration: .15s;
}

.kd-button.icononly {
  display: inline-block;
  border: none;
  text-align: center;
  color: #444;
  font-size: 11px;
  font-weight: bold;
  height: 75px;
  width: 75px;
  padding: 0px;
  line-height: 75px;
  -webkit-border-radius:none;
  -moz-border-radius:none;
  border-radius: none;
  background-color: transparent;
  background-image: none;
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
  padding:0px 2px;
}

.kd-button.icononly:hover, .kd-button.icononly.hover {
  color: #222;
  height:75px;
  width:75px;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.kd-button.icononly.selected {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

.kd-button.icononly.focus {
  background-color: transparent;
  background-image: none;
  -moz-box-shadow: 0 0 1px 2px  #4D90FE;
  -webkit-box-shadow: 0 0 1px 2px  #4D90FE;
  box-shadow: 0 0 1px 2px  #4D90FE;
  border: none;
}

.kd-button.icononly.focus img {
  opacity: 1.0;
}
.kd-button.icononly.selected img {
  opacity: 1.0;
}
.kd-button.icononly.selected:hover img {
  opacity: 1.0;
}

.simple-icon-button img {
  opacity: 0.75;
  border: 1px solid transparent;
}
.simple-icon-button.selected img {
  opacity: 1.0;
}
.simple-icon-button:hover img {
  opacity: 1.0;
}
.simple-icon-button:active img {
  opacity: 1.0;
}
.simple-icon-button.focus {
  -moz-box-shadow: 0 0 1px 2px  #4D90FE;
  -webkit-box-shadow: 0 0 1px 2px  #4D90FE;
  box-shadow: 0 0 1px 2px  #4D90FE;
  border: none;
}


.kd-button.dark-bg {
  background-color: #d9d9d9;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#cecece));
  background-image: -webkit-linear-gradient(top,#fafafa,#cecece);
  background-image: -moz-linear-gradient(top,#fafafa,#cecece);
  background-image: -ms-linear-gradient(top,#fafafa,#cecece);
  background-image: -o-linear-gradient(top,#fafafa,#cecece);
  background-image: linear-gradient(top,#fafafa,#cecece);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#cecece');
}
.kd-button.dark-bg:hover {
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#d9d9d9));
  background-image: -webkit-linear-gradient(top,#fdfdfd,#d9d9d9);
  background-image: -moz-linear-gradient(top,#fdfdfd,#d9d9d9);
  background-image: -ms-linear-gradient(top,#fdfdfd,#d9d9d9);
  background-image: -o-linear-gradient(top,#fdfdfd,#d9d9d9);
  background-image: linear-gradient(top,#fdfdfd,#d9d9d9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd',EndColorStr='#d9d9d9');
}
.kd-button.dark-bg:active {
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#d9d9d9));
  background-image: -webkit-linear-gradient(top,#fdfdfd,#d9d9d9);
  background-image: -moz-linear-gradient(top,#fdfdfd,#d9d9d9);
  background-image: -ms-linear-gradient(top,#fdfdfd,#d9d9d9);
  background-image: -o-linear-gradient(top,#fdfdfd,#d9d9d9);
  background-image: linear-gradient(top,#fdfdfd,#d9d9d9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd',EndColorStr='#d9d9d9');
}
.kd-button.selected.dark-bg {
  background-color: #858585;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#858585),to(#f3f3f3));
  background-image: -webkit-linear-gradient(top,#858585,#f3f3f3);
  background-image: -moz-linear-gradient(top,#858585,#f3f3f3);
  background-image: -ms-linear-gradient(top,#858585,#f3f3f3);
  background-image: -o-linear-gradient(top,#858585,#f3f3f3);
  background-image: linear-gradient(top,#858585,#f3f3f3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#858585',EndColorStr='#f3f3f3');
  border: 1px solid #909090;
}

.kd-button.selected.dark-bg.focus {
  border: 1px solid #4D90FE;
  -moz-box-shadow: inset 0 0 0px 1px  #4D90FE;
  -webkit-box-shadow: inset 0 0 0px 1px  #4D90FE;
  box-shadow: inset 0 0 0px 1px  #4D90FE;
}

.kd-button.dark-bg.focus {
  border: 1px solid #4d90fe;
  -moz-box-shadow: inset 0 0 0px 1px #4D90FE;
  -webkit-box-shadow: inset 0 0 0px 1px #4D90FE;
  box-shadow: inset 0 0 0px 1px #4D90FE;
}


.kd-tabbutton {
  color: #999999;
}

.kd-tabbutton:hover {
  color: #cccccc;
}

.kd-tabbutton:d0d0d0 {
  color: #999999;
}

.kd-tabbutton.selected {
  color: #dddddd;
}


#app-container {
  position: absolute;
  left: 0px;
  bottom:0px;
  top: 0px;
  width:300px;
  background-color:#333333;
  color:#dddddd;
}

#title-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  font-size: 16px;
  width: 270px;
  padding:15px; 
  border-bottom: 1px solid #7c7c7c;
  -webkit-box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.2); 
  -moz-box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.2);
  box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.2); 
}

#category-bar {
  position: absolute;
  top: 51px;
  left: 0px;
  right: 0px;
  height: 25px;
  padding: 10px 20px 0px 20px;
  font-size: 15px;
  text-align: center;
  color: #dddddd;
}

#effects-list {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 86px;
  padding: 0px;
}

.effects-panel {
  position: absolute;
  left: 0px;
  width: 268px;
  top: 0px;
  padding-left: 15px;
  padding-top:0px;
  font-size:14px;
  display:none;
}



#bottom-button-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 20px;
  width: 270px;
  bottom: 0px;
  padding: 15px; 
  border-top: 1px solid #7c7c7c;
  -webkit-box-shadow: -3px -3px 3px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: -3px -3px 3px 3px rgba(0,0,0,0.2);
  box-shadow: -3px -3px 3px 3px rgba(0,0,0,0.2);
}

